<section id="login"><!-- Basic front end for the login page, in here you'll find the section to introduce username and password-->
    <div class="container">
      <div class="header">
        <h1>Login</h1><br>
        <img src="../../../../../assets/images/logo-data-prestamos.png" alt="">
      </div>
      <div class="main">
        <form>
          <span>
            <mat-icon>person</mat-icon>
            <input #loginEmail type="text" placeholder="Username">
          </span><br>
          <span>
            <mat-icon>lock</mat-icon>
            <input #loginPassword type="password" placeholder="Password">
            <a routerLink="/auth/resetpassword">Forgot password?</a>
          </span><br>
          <span>
          <button type="button" class="gotohome" [routerLink]="['/home/home']">Login <mat-icon>login</mat-icon></button>
          </span><br>
        </form>
      </div>
    </div>
<!-- conectar los input con el botón para mandar información, resivar el submit-->
    <!--<div class="backgroundPicture">
      <img src="../../../../../assets/images/loginbackground.jpg" alt="">
    </div>
    dismiss this part!
  -->
</section>
<!--Compare variables with the Array, rute in the way of interpolation. When validation says ok a variable
will be filled with the routerLink. Make alerts that says resolve in case something is wrong -->