<section id="login"><!-- Basic front end for the login page, in here you'll find the section to introduce username and password-->
    <div class="container">
      <div class="header">
        <h1>Login</h1><br>
        <img src="../../../../../assets/images/logo-data-prestamos.png" alt="">
      </div>
      <div class="main">
        <form>
          <span>
            <mat-icon>person</mat-icon>
            <input type="text" placeholder="Username">
          </span><br>
          <span>
            <mat-icon>lock</mat-icon>
            <input type="password" placeholder="Password">
            <a routerLink="/resetpassword">Forgot password?</a>
          </span><br>
        
          <button>Login <mat-icon>login</mat-icon></button>
        </form>
      </div>
    </div>

    <!--<div class="backgroundPicture">
      <img src="../../../../../assets/images/loginbackground.jpg" alt="">
    </div>
    dismiss this part!
  -->
</section>
