<div class="sidenav-container"> <!--Cómo hacer validación con login para entrar aquí y que si valida puej me muejtre esta página--> 
    <app-sidenav></app-sidenav>
   </div>
   <div class="container">
     <div class="head-container">
       <img src="" alt="">
       <p>Data Prestamos</p>
     </div>
     <div class="table-client">
      <p>History of active credits:</p>
     <table class="table table-striped">
       <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Cliente</th>
         <th scope="col">Cuota</th>
         <th scope="col">Total Deuda</th>
         <th scope="col">Estado</th>
       </tr>
       </thead>
       <tbody>
       <tr>
         <th >
         
       </tr>
       </tbody>
     </table>
   </div>
   </div><p>active-credits works!</p>
