div.card-body{
    background-color: #404040;
    border-radius: 10px;
}

div.card{
    border-color: #000000;
    border-radius: 11px;
    border-style: groove;
}
h1{
    color: beige;
}
div.alert{
    background-color: #505050;
    color: #F2F0E7;
    border-color: #000000;
}
div.form-group{
    padding: 2px;
}
.btn{
    padding: 5px;
}
div.formRegister{
    padding: 5px;
}



