#resetPassword{
    font-family: sans-serif;
    background-image: url(../../../../../assets/images/loginbackground.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}

.container{
    width: 380px;
    margin:10% auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px #333;
    padding-top: 15px;
}

.header{
    text-align: center;
    padding-top: 65px;
    background-color: #f6f6e9;
    border-radius: 25px;
}//header is the upper part of the container, where the word "Login" and the logo of the enterprise shows

.header h1{
    color: #457d58;
    font-size: 45px;
    margin-bottom: 15px;
}//This is to modify the word "Login" in the header

.header img{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
}// this is to modify the logo in the header

.body{
    text-align: center;
    padding-top: 15px;
}//The main is the body of the container, where the input for username and password are located

.body p{
    color: #f6f6e9;
}

.body input, button{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #404040;
    margin-bottom: 40px;
}// this is to modify the features of the inputs and the button

.body button{
    padding-left: 0;
    background-color: #457d58;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 50px;
    border-radius: 25px;
    .mat-icon{
        vertical-align: middle;
        margin-right: 1rem;
    }
}//To modify the features of the button only

.body button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #457d65;
}//This part allows you to specify what's going to happen when the mouse arrows goes in the button

.body input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #f6f6e9;
}//Same hover than for the button but for the inputs


.body span{
    position: relative;
    .mat-icon{
        vertical-align: middle;
        margin-right: 1rem;
    }
}

