<div class="sidenav-container"> <!--Cómo hacer validación con login para entrar aquí y que si valida puej me muejtre esta página--> 
    <app-sidenav></app-sidenav>-->
   </div>
   <div class="container">
     <div class="head-container">
       <img src="" alt="">
       <p>Data Prestamos</p>
     </div>
     <div class="containerBody">
      <p>Fill this information to add a new user:</p>
      <br>
      <span>
        <mat-icon>person_pin</mat-icon>
        <input type="text" placeholder="Name">
      </span>
      <br>
      <span>
        <mat-icon>person_pin</mat-icon>
        <input type="text" placeholder="Lastname">
      </span>
      <br>
      <span>
        <mat-icon>mail</mat-icon>
        <input type="text" placeholder="Email">
      </span>
      <br>
      <span>
        <mat-icon>wallet</mat-icon>
        <input type="text" placeholder="Total debt">
      </span>
      <br>
      <span>
        <mat-icon>money</mat-icon>
        <input type="number" placeholder="Installments">
      </span>
      <br>
      <span>
        <mat-icon>money</mat-icon>
        <output type="number" >Each installment will be for:</output>
      </span>
      <br>
      <span>
        <mat-icon>checked</mat-icon>
        <input type="text" placeholder="First status">
      </span>
      <br>
      <span>
        <button type="submit"><mat-icon>send</mat-icon>Add user</button>
      </span>
   </div>
   </div>
