.js-focus-visible{
  visibility: hidden;
}

.container {
  width: 80%;
  left: 20%;
}

.container .image {
  /* Escalamiento proporcional */
  width: auto;
  height: 100%;

  /* Posicionamiento */
  position: absolute;
  left: 20%;
}
