.container {
  width: 85%;
  height: 100%;
  left: 15%;
  background-image: url("../../../assets/images/P.png");

  /* Posicionamiento */
  position: absolute;
}

.container-sm{
  width: 40%;
  height: 40%;
  background-color: white;
  margin-top: 20%;
}

.sidenav-container {
  width: 15%;
  background-color: #f6f6e9;
}

