.container {
    width: 82%;
    height: 100%;
    left: 18%;
    background-image: url("../../../../../assets/images/P.png");

    /* Posicionamiento */
    position: absolute;
  }

  .container-sm{
    width: 40%;
    height: 40%;
    background-color: white;
    margin-top: 20%;
  }

  .sidenav-container {
    width: 15%;
    background-color: #f6f6e9;
  }

  .table-client{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background-color: white;
    border-radius: 10px;
  }

