<div class="container mt-3" id="container">
  <h2>Menú</h2>
  <p>Seleccione alguna de las funcionalidades disponibles</p>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Consultar clientes</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" href="#">Consultar prestamos</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" href="#">Agregar nuevo cliente</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link" href="#">Agregar nuevo prestamo</a>
    </li>
    <hr>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Agregar administrador(Proximamente)</a>
    </li>
  </ul>
</div>
